{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Dashboard</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Average Temperature</th>
            <th>Energy Effect</th>
        </tr>
        {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>

            </tr>
        {% endfor %}
    </table>


</div>
{% endblock %}

